@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Welcome to AL Nour company </h1>
    <p class="lead">This site is only for the company administrators</p>
 
</div>

<div class="text-center">
   
    <img src="~/Images/backG.jpg" width="970" height="400" class="center-block" >

</div>

